dbldatagen==0.4.0.post1
dotenv==0.9.9
greenlet==3.2.0
jmespath==1.0.1
numpy==2.2.4
pandas==2.2.3
psycopg2-binary==2.9.9
py4j==0.10.9.7
pyparsing==3.2.3
pyspark==3.5.5
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
pytz==2025.2
six==1.17.0
SQLAlchemy==2.0.40
typing_extensions==4.13.2
tzdata==2025.2
